<?xml version="1.0"?>
<launch>

    <!-- <arg name="hostname" default="$(env HOSTNAME)"/>
    <arg name="tgt_system" default="$(env PX4_TGT_SYS_ID)"/>
    <arg name="ns" default="fishberg_$(arg hostname)"/> -->
    <arg name="hostname" default="juanrached"/>
    <arg name="tgt_system" default="1.1"/>
    <arg name="ns" default="NX01"/>

    <!-- MAVROS and Pixhawk necessities -->
    <group namespace="$(arg ns)">

       <!-- Set tgt_system based on hostname -->
        <arg name="fcu_url" default="/dev/ttyACM0:921600"/>
        <arg name="respawn_mavros" default="false"/>
        <include file="$(find mavros)/launch/px4.launch">
            <let name="fcu_url" value="$(arg fcu_url)"/>
            <let name="tgt_system" value="$(arg tgt_system)"/>
            <let name="respawn_mavros" value="$(arg respawn_mavros)"/>
        </include>

        <!-- ros2 run tf2_ros static_transform_publisher 0 0 0 -1.57 3.14 0 world_mocap world_mavros 10 -->
        <node pkg="tf2_ros" exec="static_transform_publisher" name="mocap_to_mavros_tf" args="0 0 0 -1.57 3.14 0 world_mocap world_mavros 10" />
        <node pkg="tf2_ros" exec="static_transform_publisher" name="mocap_to_world" args="0 0 0 0 0 0 world world_mocap 10" />
        <node pkg="tf2_ros" exec="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 world map 10" />

        <!-- launch the repub_mocap.py node -->
        <node pkg="uwb_drone_experiments" exec="repub_mocap" name="repub_mocap_py" required="true" output="screen" />

        <!-- subscribe to broadcasted trajectories -->
        <node pkg="uwb_drone_experiments" exec="offboard_node" name="offboard_node_py" required="true" output="screen" />
    </group>

</launch>
