<!-- A ROS launch file to run our vectornav, realsense D455, and UWB nodes -->

<launch>

<arg name="hostname" default="$(env HOSTNAME)"/>
<arg name="ns" default="fishberg_$(arg hostname)"/>
<group ns="$(arg ns)">

  <!-- Start the vectornav node -->
  <include file="$(find vectornav)/launch/vectornav.launch" />

  <!-- Start the realsense node -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

</group>
</launch>
