<?xml version="1.0"?>
<launch>


<arg name="hostname" default="$(env HOSTNAME)"/>
<arg name="tgt_system" default="$(env PX4_TGT_SYS_ID)"/>
<arg name="ns" default="fishberg_$(arg hostname)"/>
<group ns="$(arg ns)">

    <!-- MAVROS -->
    <arg name="fcu_url" default="/dev/ttyACM0:921600"/>
    <arg name="respawn_mavros" default="false"/>

    <include file="$(find mavros)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="tgt_system" value="$(arg tgt_system)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>

    <!-- Our node to control the drone -->
    <node pkg="uwb_drone_experiments" exec="track_square_node" name="track_square_node_py" required="true" output="screen" />

    <!-- static transforms -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="mocap_to_mavros_tf" args="0 0 0 -1.57 3.14 0 world_mocap world_mavros 10" />
    <node pkg="tf2_ros" exec="static_transform_publisher" name="mocap_to_world" args="0 0 0 0 0 0 world world_mocap 10" />

    <!-- republish mocap topic -->
    <node pkg="uwb_drone_experiments" exec="repub_mocap" name="repub_mocap_py" required="true" output="screen" />

</group>
</launch>
