<?xml version="1.0"?>
<launch>

    <arg name="hostname" default="$(env HOSTNAME)"/>
    <arg name="ns" default="fishberg_$(arg hostname)"/>
    <arg name="destination" default="$(env WORKSPACE)/bags/bag"/>

    <!-- camera topics -->
    <arg name="color_camera_info"                   default="/$(arg ns)/camera/color/camera_info" />
    <arg name="color_image_raw"                     default="/$(arg ns)/camera/color/image_raw/compressed" />
    <arg name="depth_camera_info"                   default="/$(arg ns)/camera/depth/camera_info" />
    <arg name="depth_image_rect_raw"                default="/$(arg ns)/camera/depth/image_rect_raw/compressedDepth" />
    <arg name="depth_to_color"                      default="/$(arg ns)/camera/extrinsics/depth_to_color" />
    <arg name="rgb_camera_parameter_descriptions"   default="/$(arg ns)/camera/rgb_camera/parameter_descriptions" />
    <let name="camera_topics" value="
                            $(arg color_camera_info)
                            $(arg color_image_raw)
                            $(arg depth_camera_info)
                            $(arg depth_image_rect_raw)
                            $(arg depth_to_color)
                            $(arg rgb_camera_parameter_descriptions)
                            "
    />

    <!-- vectornav topics -->
    <arg name="imu"                                 default="/$(arg ns)/vectornav/IMU" />
    <arg name="gps"                                 default="/$(arg ns)/vectornav/GPS" />
    <arg name="ins"                                 default="/$(arg ns)/vectornav/INS" />
    <arg name="mag"                                 default="/$(arg ns)/vectornav/Mag" />
    <arg name="odom"                                default="/$(arg ns)/vectornav/Odom" />
    <arg name="pres"                                default="/$(arg ns)/vectornav/Pres" />
    <arg name="temp"                                default="/$(arg ns)/vectornav/Temp" />
    <let name="imu_topics" value="
                            $(arg imu)
                            $(arg gps)
                            $(arg ins)
                            $(arg mag)
                            $(arg odom)
                            $(arg pres)
                            $(arg temp)
                            "
    />

    <!-- UWB topics -->
    <arg name="uwb_topics" 			default="$(env ROS_UWB_TOPICS)"/>

    <!-- MOCAP topic: /fishberg_gdzilla/world -->
    <arg name="mocap_topic"                               default="/$(arg ns)/world" />

    <!-- Mavros state estimates: /fishberg_gdzilla/mavros/global_position/local /fishberg_gdzilla/mavros/local_position/pose -->
    <!--    /fishberg_gdzilla/mavros/global_position/global
            /fishberg_gdzilla/mavros/global_position/local
            /fishberg_gdzilla/mavros/global_position/raw/fix
            /fishberg_gdzilla/mavros/global_position/raw/gps_vel
            /fishberg_gdzilla/mavros/global_position/rel_alt
            /fishberg_gdzilla/mavros/gps_rtk/rtk_baseline
            /fishberg_gdzilla/mavros/imu/data
            /fishberg_gdzilla/mavros/imu/data_raw
            /fishberg_gdzilla/mavros/local_position/odom
            /fishberg_gdzilla/mavros/local_position/velocity_local
            /fishberg_gdzilla/mavros/local_position/pose
            /fishberg_gdzilla/mavros/global_position/compass_hdg
            /fishberg_gdzilla/mavros/altitude
            /fishberg_gdzilla/mavros/state
            /fishberg_gdzilla/mavros/extended_state
    -->
    <arg name="global_position_global"                    default="/$(arg ns)/mavros/global_position/global" />
    <arg name="global_position_local"                     default="/$(arg ns)/mavros/global_position/local" />
    <arg name="global_position_raw_fix"                   default="/$(arg ns)/mavros/global_position/raw/fix" />
    <arg name="global_position_raw_gps_vel"               default="/$(arg ns)/mavros/global_position/raw/gps_vel" />
    <arg name="global_position_rel_alt"                   default="/$(arg ns)/mavros/global_position/rel_alt" />
    <arg name="gps_rtk_rtk_baseline"                      default="/$(arg ns)/mavros/gps_rtk/rtk_baseline" />
    <arg name="imu_data"                                  default="/$(arg ns)/mavros/imu/data" />
    <arg name="imu_data_raw"                              default="/$(arg ns)/mavros/imu/data_raw" />
    <arg name="local_position_odom"                       default="/$(arg ns)/mavros/local_position/odom" />
    <arg name="local_position_velocity_local"             default="/$(arg ns)/mavros/local_position/velocity_local" />
    <arg name="local_position_pose"                       default="/$(arg ns)/mavros/local_position/pose" />
    <arg name="global_position_compass_hdg"               default="/$(arg ns)/mavros/global_position/compass_hdg" />
    <arg name="altitude"                                  default="/$(arg ns)/mavros/altitude" />
    <arg name="state"                                     default="/$(arg ns)/mavros/state" />
    <arg name="extended_state"                            default="/$(arg ns)/mavros/extended_state" />
    <let name="mavros_topics" value="
                            $(arg global_position_global)
                            $(arg global_position_local)
                            $(arg global_position_raw_fix)
                            $(arg global_position_raw_gps_vel)
                            $(arg global_position_rel_alt)
                            $(arg gps_rtk_rtk_baseline)
                            $(arg imu_data)
                            $(arg imu_data_raw)
                            $(arg local_position_odom)
                            $(arg local_position_velocity_local)
                            $(arg local_position_pose)
                            $(arg global_position_compass_hdg)
                            $(arg altitude)
                            $(arg state)
                            $(arg extended_state)
                            "
    />


    <!-- the record command -->
    <group namespace="$(arg ns)">
        <node pkg="rosbag" exec="record" name="record_realsense" output="screen"
              args="
                $(arg camera_topics)
                $(arg imu_topics)
                $(arg uwb_topics)
                $(arg mocap_topic)
                $(arg mavros_topics)
                -o $(arg destination)
              "
        />
    </group>

</launch>
